body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

/* Imagen */
.perfil {
    width: 150px;
    border-radius: 10px;
    border: 2px solid #333;
    display: block;
}

/* Tabla */
table {
    border-collapse: collapse;
    width: 30%;
    background: rgb(255, 255, 255);
}
th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: left;
}
th {
    background: #ddd;
}

/* Div resaltado */
#resaltado {
    background-color: yellow;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
}

/* Títulos */
h1, h2 {
    color: #333;
    font-weight: bold;
}

/* Enlaces */
a {
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Recuadro del formulario */
.formulario {
    border: 1px solid #999;
    padding: 15px;
    background: white;
    border-radius: 5px;
    width: 300px;
}
