body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffffff;
}

h1 {
    color: #000000;
}

a {
    display: inline-block;
    margin: 5px 0;
    color: #0280ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    max-width: 600px;
}

#final {
    color: #444;
    background: #ddd;
    padding: 10px;
    border-radius: 5px;
}
